[Desktop Entry]
Encoding=UTF-8
Name=DMS Core
Comment=DMS P2P Cryptocurrency
Comment[de]=Verbinde mit dem Documentchain peer-to-peer Netzwerk
Comment[fr]=Documentchain, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Documentchain, eşten eşe kriptografik sanal para birimi
Exec=dms-qt %u
Terminal=false
Type=Application
Icon=dms128
MimeType=x-scheme-handler/dms;
Categories=Office;Finance;
